/* variables */
/* line 5, ../sass/layout.scss */
a {
  color: #323232;
}
/* line 7, ../sass/layout.scss */
a:hover {
  color: #323232;
}

/* alert-box */
/* line 13, ../sass/layout.scss */
.alert-box {
  display: none;
}

/* user and guest interface */
/* line 18, ../sass/layout.scss */
.user, .guest {
  /*display: none;*/
  transition: opacity 2s ease-out;
  -webkit-transition: opacity 2s ease-out;
  -moz-transition: opacity 2s ease-out;
  -o-transition: opacity 2s ease-out;
  display: block;
  /* inactive panel */
}
/* line 27, ../sass/layout.scss */
.user.inactive, .guest.inactive {
  height: 0px;
  overflow: hidden;
}

/* todo */
/* line 35, ../sass/layout.scss */
.todos > .row {
  margin: 5px 0px;
  padding: 10px 4px;
}
/* line 38, ../sass/layout.scss */
.todos > .row:hover {
  background: rgba(150, 150, 150, 0.5);
}

/* line 43, ../sass/layout.scss */
.todos .todo.striked {
  text-decoration: line-through;
}

/* action controls */
/* line 48, ../sass/layout.scss */
a.action {
  margin: 1px 4px;
  width: 17px;
  height: 17px;
  text-indent: -9999px;
  background-position: center;
  float: right;
}
/* line 55, ../sass/layout.scss */
a.action.delete {
  background-image: url("../images/icons/delete.png");
}
/* line 58, ../sass/layout.scss */
a.action.modify {
  background-image: url("../images/icons/modify.png");
}
/* line 61, ../sass/layout.scss */
a.action.strike {
  background-image: url("../images/icons/check.png");
}
/* line 64, ../sass/layout.scss */
a.action.unstrike {
  background-image: url("../images/icons/check.png");
}
/* line 67, ../sass/layout.scss */
a.action.delete:hover, a.action.modify:hover, a.action.strike:hover {
  margin-top: 2px;
  margin-bottom: 0px;
}

/* features list */
/* line 74, ../sass/layout.scss */
ul.features {
  list-style-type: none;
  font-size: 15px;
  font-weight: 1200;
  margin: 2px;
}

/* close button */
/* line 82, ../sass/layout.scss */
a.close {
  font-size: 13px;
  color: white;
  float: right;
  border-radius: 10px;
  background: rgba(60, 60, 60, 0.9);
  padding: 3px 5px;
  position: absolute;
  top: -15px;
  right: -25px;
  z-index: 2;
}

/* form-container */
/* line 96, ../sass/layout.scss */
div.form-container {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

/* signup-form */
/* line 108, ../sass/layout.scss */
div.signup-form {
  /*width: 768px;*/
  background: white;
  border: 10px solid rgba(40, 40, 40, 0.4);
  border-radius: 20px;
  padding: 20px;
  width: 60%;
  top: 15%;
  left: 20%;
  position: fixed;
}

/* parsley */
/* line 121, ../sass/layout.scss */
input.parsley-success, textarea.parsley-success {
  color: #468847 !important;
  background-color: #DFF0D8 !important;
  border: 1px solid #D6E9C6 !important;
}

/* line 127, ../sass/layout.scss */
input.parsley-error, textarea.parsley-error {
  color: #B94A48 !important;
  background-color: #F2DEDE !important;
  border: 1px solid #EED3D7 !important;
}

/* line 133, ../sass/layout.scss */
ul.parsley-error-list {
  font-size: 13px;
  margin: 2px;
  list-style-type: none;
}

/* line 139, ../sass/layout.scss */
ul.parsley-error-list li {
  line-height: 13px;
}

/* copyright section, used from foundation docs */
/* line 144, ../sass/layout.scss */
#copyright {
  background: #3f3f3f;
  color: #fff;
  padding: 11px 0;
  margin-top: 30px;
}
/* line 149, ../sass/layout.scss */
#copyright a {
  color: #fff;
  font-size: 14px;
}
/* line 153, ../sass/layout.scss */
#copyright p, #copyright ul {
  margin-bottom: 0;
}
