/* alert-box */
/* line 2, ../sass/layout.scss */
.alert-box {
  display: none;
}

/* navbar login form */
/* line 7, ../sass/layout.scss */
section.top-bar-section.user, section.top-bar-section.guest {
  display: none;
}

/* close button */
/* line 12, ../sass/layout.scss */
a.close {
  color: gray;
  float: right;
  border-radius: 3px;
  background: rgba(200, 200, 200, 0.7);
  padding: 3px 5px;
}

/* form-container */
/* line 21, ../sass/layout.scss */
div.form-container {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

/* signup-form */
/* line 33, ../sass/layout.scss */
div.signup-form {
  /*width: 768px;*/
  background: white;
  border: 8px solid rgba(140, 140, 140, 0.5);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  top: 15%;
  position: fixed;
}
