<?php
  /*
   * / config / config.php
   * database config file
   */
  //database host
  $host = 'localhost';
  //database name
  $db_name = 'flowork';
  //username
  $db_user = 'root';
  //password to db account
  $db_pass = '';
?>
